body {
  height: 100vh;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #5f0f40;
  color: #fb8b24; */
}

/* .btn-blog {
  background-color: #e36414;
}

.btn-blog:hover {
  background-color: #9a031e;
}

a {
  color: #fb8b24;
} */
